@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fontawesome.com/');
@import url('https://icomoon.io/');
@import url('https://ionicons.com/');
@import url('https://icomoon.io/');
@import url('https://fonts.google.com/specimen/Open+Sans');
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #0652dd;
    --secondary-color: #ea2027;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
  }
  
  /* Smooth scroll effect */
  html {
    scroll-behavior: smooth;
  }
  
  /* Resets */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  li{
    list-style-type: none;
  }

  a{
    text-decoration: none;
  }
  nav {
    background: hsl(193, 100%, 96%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #logo_img{
    width: 80px;
  }

  .nav_item{
    width: 140px;
    text-decoration: none;
    margin-right: 2rem;
    color: black;
    background-color: white;
    padding:5px;
    border-radius: 30px;
    box-shadow: 2px 3px 2px #f1f1f1;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .nav_item:hover{
    background-color: hsl(322, 100%, 66%);
    color: white;
    transition: none;
    cursor: pointer;
  }

  .div_one{
    background: hsl(193, 100%, 96%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
  }

  .div_one_one p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }

  #header_one{
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: bold;

  }

  #mockup_image{
    height: 500px;
    width: 50vw;
  }
  #get_started_btn{
    width: 200px;
    margin-top: 2rem;
    color: white;
    background-color: hsl(322, 100%, 66%);
    padding:15px;
    border-radius: 30px;
    box-shadow: 2px 3px 2px #f1f1f1;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  #get_started_btn:hover{
    background-color: white;
    color: black;
    transition: none;
    cursor: pointer;
  }

  .div_one_one{
    margin: 1rem;
  }
  .div_one_two{
    margin: 1rem;
    padding: 20px;
  }

  .div_two{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    margin: 4rem;
  }

  #grow_together_image{
    height: 350px;
    width: 30vw;
  }

  .div_two h3{
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: bold;
  }

  .div_two p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    display: block;
  }

  .ready_build_community{
    width: 500px;
    height: 250px;
    background: white;
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2px #f1f1f1;
    margin: 4rem;
    text-align: center;
  }

  .footer {
    background-color: hsl(192, 100%, 9%);
    padding: 70px 0;
  }

  #footer_logo_svg{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(1deg) brightness(100%) contrast(100%);
    width: 150px;
  }

  .cont{
    max-width:1170px;
    margin:auto;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .footer-col{
    width: 25%;
    padding: 0 15px;
  }

  .footer-col p{
    color: white;
  }

  .footer-col a{
    color: white;
  }

.footer-col ul li:not(:last-child){
margin-bottom:10px;
}

.social li{
  display: inline-block;
  justify-content: space-around;
  padding: 10px;
}

.copy_right{
  color: white;
  float: right;
  margin-top: 1.5rem;
}

.icon{
  font-size: 1.2rem;
}


