@import url('https://fonts.google.com/specimen/Poppins');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.google.com/specimen/Poppins');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 1440px;
    

}

.container {
    width: 90vw;
    height: 90vh;
    display: grid;
    background-color: hsl(0, 100%, 74%);
    margin-top: 3rem;
    margin-left: 5rem;

    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    gap: 15px;

    padding: 20px;

    justify-content: center;
    align-items: center;

    
}

.container div{
    padding: 10px;
    border: 1px;
}

.item_one {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: hsl(248, 32%, 49%);
    grid-row-start: 1;
    grid-row-end: 2;
    height: 50px;
    justify-content: center;
    border-radius: 5px;

}

.item_two {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:  hsl(0, 100%, 74%);
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 1rem;
    padding: 20px;

}

.item_three {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color:  hsl(0, 0%, 95%);
    grid-row-start: 2;
    grid-row-end: 3;
    border-radius: 10px;
    height: 65vh;
    

}

.item_one p{
    font-family: 'Poppins', sans-serif;
    color:hsl(0, 0%, 95%);
    font-size: 12px;
    font-family:'Poppins';
}

.item_two h1{
    margin-top: 6rem;
    color: hsl(0, 0%, 95%);
    font-family:'Poppins';
}

.item_two p{
    margin-top: 1rem;
    color: hsl(0, 0%, 95%);
    font-family:'Poppins';
}

input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: Grayish Blue: hsl(246, 25%, 77%);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 300;
}

.button {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    text-align: center;
    padding: 12px 0;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family:'Poppins';
}

.item_three p{
    font-size: 12px;
    font-family:'Poppins';
}

.button:hover{
    background-color:transparent;
}

@media (max-width:375px){
    .container{
        display: flex;
        flex-direction: column;
        padding: 5rem 0;
    }

    .items{
        min-width: 20rem;
        
    }
}